<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/style.css" />
  <title>Milton Rosa Resume</title>
</head>

<body>
  <div class="page">
    <div>
      <main>
        <nav class="nav">
          <div class="nav-container">
            <div>
              <a class="btn" href="#">Logo</a>
            </div>
            <div class="nav-links">
              <a class="btn" href="$">About</a>
              <a class="btn" href="$">Skills</a>
              <a class="btn" href="$">Certifications</a>
              <a class="btn" href="$">Contact</a>
            </div>
          </div>
        </nav>
        <div class="overview">
          <div class="container">
            <h1 class="name">Milton Rosa</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ab molestiae fugiat, atque repellendus laudantium omnis quia dicta deserunt maiores inventore nobis voluptates recusandae explicabo et eligendi nemo officia similique?</p>
          </div>
        </div>
        <div class="main-content">
          <div class="about">
            <div class="container"></div>

          </div>
          <div>About</div>
          <div>Skills</div>
          <div>Certifications</div>
          <div>Contact</div>
        </div>
      </main>
    </div>
  </div>
</body>

</html>

<!--  <div>About</div>
          <div>Skills</div>
          <div>Certifications</div>
          <div>Contact</div>-->