<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Milton Rosa Resume</title>
  </head>
  <body>
    <nav class="side-navbar">Nav</nav>
    <div class="col-2">
      <header><nav class="top-sidebar"></nav></header>
      <main class="main-content">
        <article>Article</article>
      </main>
      <footer>Footer</footer>
    </div>
  </body>
</html>
