body {
  margin: 0;
  color: white;
}

div {
  display: block;
}

.page {}

.nav {
  height: 65px;
  position: fixed;
  background-color: #121212;
  z-index: 1;
}

.nav-container {
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

.nav,
.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.overview {
  height: 100vh;
  position: fixed;
  width: 100%;
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #141414;

}

.container {

}

.main-content {
  display: inline-block;
  width: 100%;
  background-color: grey;
  position: relative;
  margin-top: calc(100vh + 65px);

}

.about {
  padding: 1000px;
  position: relative;
  width: 100%;
  background-color: red;
}