* {
    position: relative;
    left: 0px;
    right: 0px;
}

#header {
    top: 0px;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: blue;
    z-index: 1;
}

.stuff {
    margin-top: 50px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
}

#footer {
    position: relative;
    bottom: 0px;
    margin-left: 0px;
    height: 50px;
    width: 100%;
    background-color: blue;
    clear: both;
}

#name {
    font-family: serif;
    font-style: italic;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
}